footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 60px;
  }

  .footer-logo {
    @media (max-width: 768px) {
      display: none;
    }
  }

  section {
    display: grid;
    justify-items: center;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  h4 {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  a {
    font-size: 12px;
    line-height: 2.25;
    text-decoration: none;
    color: $font-color;
    opacity: 0.7;
  }

  form {
    grid-column: span 5;

    section {
      display: flex;
      justify-items: flex-start;
    }

    label {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    input {
      width: 240px;
      height: 40px;
      border-radius: 4px;
      border: solid 1px $primary-color;
      margin: 0 4px;

      &::placeholder {
        color: $primary-color;
      }
    }
  }

  .newsletter-button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: $primary-color;
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
  }

  .social-container {
    display: grid;
    justify-items: flex-start;
  }

  .social-icons {
    display: flex;
    margin-bottom: 32px;
  }
}
