.main-container {
  width: 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;

  @media (min-width: 768px) {
    width: 100%;
    height: 780px;
  }
}

.text-container {
  h1 {
    font-size: 32px;
    line-height: 1.17;
    letter-spacing: -1px;

    @media (min-width: 768px) {
      font-size: 60px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.56;
  }

  @media (min-width: 768px) {
    width: 40%;
    margin-top: 200px;
  }
}

.button {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  background-color: $primary-color;
  border: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.info-button {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
}
