.main-container {
  background-image: url(../img/background.jpg);
  padding: 32px;

  h1 {
    font-size: 32px;
    line-height: 1.17;
    letter-spacing: -1px;
  }

  p {
    font-size: 18px;
    line-height: 1.56;
  }
}

.button {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  background-color: $primary-color;
  border: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.info-button {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
}
